.title-area {
  margin: 12px 0px;
  border-radius: 8px;
  background-color: lightgray;
  height: 180px;
  text-align: center;
  line-height: 180px;
  .title {
    font-size: 24px;
  }
}

.contents-area {
  display: flex;
  flex-direction: column;
  .tab-header {
    display: flex;
    justify-content: center;
    gap: 36px;
    border-bottom: 1px solid gray;
    padding: 12px;
    .tab-button {
      cursor: pointer;
    }
    .tab-button.active {
      font-weight: bold;
    }
  }
  .tab-contents {
    .tab-content {
      display: none;
    }
    .tab-content.active {
      display: block;
    }
  }
}

.no-term-message {
  padding: 72px 0px;
  text-align: center;
}
