.add-button-container {
  text-align: right;
}

.card-list {
  padding: 8px 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  overflow-y: auto;
  background-color: lightgray;
}

@media (max-width: 480px) {
.card-list {
  grid-template-columns: 1fr;
}
}
