.container {
  display: flex;
  vertical-align: middle;
}

@media (min-width: 1024px) {
  .container {
    width: 1024px;
    margin: 0px auto;
  }
}

.title {
  font-weight: bold;
  cursor: pointer;
}
.spacer {
  flex: 1 1 auto;
}