.navbar {
  background-color: gray;
  height: 48px;
  line-height: 48px;
}

.container {
  width: 1024px;
  margin: 0px auto;
  display: flex;
  vertical-align: middle;
}

.title {
  font-size: 20px;
  font-weight: bold;
}