form {
  display: flex;
  flex-direction: column;
}

.form-field {
  display: flex;
  flex-direction: column;
  label {
    font-weight: bold;
    padding-bottom: 8px;
  }
  input {
    line-height: 24px;
  }
  textarea {
    height: 320px;
  }
}

.visibility {
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .label {
    display: flex;
    gap: 12px;
    align-items: center;
  }
}

.button-area {
  display: flex;
  align-self: flex-end;
  gap: 8px;
}
